<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <!-- Memcached -->
    <section name="cacheProvider"
        type="MemcachedProviders.Cache.CacheProviderSection, MemcachedProviders"
        allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>

    <sectionGroup name="enyim.com">
      <section name="memcached"
          type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <enyim.com>
    <memcached>
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100"
          connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>
  <cacheProvider defaultProvider="MemcachedCacheProvider">
    <providers>
      <add name="MemcachedCacheProvider"
        type="MemcachedProviders.Cache.MemcachedCacheProvider, MemcachedProviders"
        keySuffix="_MyProjectName_" defaultExpireTime="2000"/>
    </providers>
  </cacheProvider>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
